@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: url("https://lablackengineers.org/templates/prestige_academy/images/main-bg.png");
}

container {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.row{
    margin-top: 2rem;
}
nav{
    text-transform: uppercase;
}
footer {
    width: 100%;
    flex-direction: column;
}

.programs{
    height: 20rem;
    border: 2px solid red;
}

.carousel.slide {
    align-items: center;
    justify-content: center;
    max-height: 500px;
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    color: white;
}

.caption {
    position: absolute;
    top: 400px;
    color: white;
    z-index: 1000;
    margin-top: -30px !important;
    background-color: #b85641;
    padding: 10px;
    opacity: 0.85;
}

.rounded-start{
    border-radius: 3rem;
    margin: 0 20px 35px 20px !important;
    
}

.img-fluid{
    max-width: 90% !important;
}

.card{
    border-radius: 3rem !important;
}
.card-header{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.center-btn{
    align-items: center;
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

button.fontSize {
    margin: 0 0.5rem !important;
}

.other {
    display: flex;
    flex-direction: column;
}

.navbar-brand>img {
    max-width: 20rem;
}

#login {
    padding: 2rem;
}

#login p {
    align-content: center;
    justify-content: center;
    text-align: center;
}

#login button {
    align-content: center;
    justify-content: center;
    text-align: center;
}


.box {
    max-height: 15rem;
    border: 10px;
    padding: 10px;
    padding-bottom: 9px;
    margin: 1rem 2rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

#random {
    max-height: 4rem;
    height: 5rem;
}
#random .innerDiv{
    position: relative;
    display: inline;
    justify-content: left;
    max-width: 50%;
}
#random form {
    position: relative;
    justify-content: right;
    top: -35px;
    right: 0px;
}

.container {
    max-width: 90% !important;
}

#fb {
    max-width: 30px;
    max-height: 30px;
    margin: auto 1rem;
}